
.carousel-item {
    height: 500px;
}
.carousel-item img {
    width: 100%;
}
.navbar-static-top{
    background-color: red;
}
.nav-link{
    color: white;
    font-size: 20px;
}
.footer{
    background-color: red;
    text-align: center;
    color: white;
}
.footer h6 {
    text-align: right;
    color: white;
    font-size: 12px;
}